<!DOCTYPE html>
<html>
<head>
    <title>Hash Wordlist</title>
</head>
<body>
    <h1>Hash Wordlist</h1>
    <form action="/hash_wordlist" method="post">
        <label for="hash_type">Hash Type:</label>
        <input type="text" name="hash_type" id="hash_type" required>
        <br>
        <label for="wordlist_file">Wordlist File:</label>
        <input type="text" name="wordlist_file" id="wordlist_file" required>
        <br>
        <input type="submit" value="Hash">
    </form>
</body>
</html>
